*.o
.*.swp
\#*\#
*~
Makefile
autom4te.cache
cscope.out
TAGS
tags
comm.h
config.h
config.h.in
config.log
config.status
configure
kmapdef.c
osdef.h
term.h
screen
stamp-h.in
tty.c
/link-warning.h
Makefile.in
aclocal.m4
config.guess
config.sub
depcomp
install-sh
lib/
m4/
missing
