autom4te.cache
cscope.out
TAGS
tags
comm.h
config.h.in
configure
kmapdef.c
osdef.h
term.h
stamp-h.in
tty.c
/link-warning.h
Makefile.in
aclocal.m4
config.guess
config.sub
depcomp
install-sh
lib/
m4/
missing
texinfo.tex
